h1 {
    font-size: 400%;
    margin: 0 3%;
}

#quote {
    text-align: center;
    font-size: 200%;
    font-family: 'cooper hewitt heavy';
}

button {
    width: 46%;
    height: 40%;
    font-size: 140%;
}

button:first-child {
    border: 5px solid #346dbc;
    background-color: #7da2d5;   
}

button:last-child {
    border: 5px solid #032a5d;
    background-color: #004aad;
}

.box {
    width: 500px;
    height: 500px;
    margin: 0 3%;
}

#side, #intro  {
    justify-content: space-around;
}

#title {
    font-size: 800%;
}

#innhold {
    margin: 20px 0;
    width: 100vw;
}

#htp {
    padding-top: 5%;
    font-size: 500%;
}

#tv, #htp {
    line-height: 80%;
    letter-spacing: 5px;
    font-style: italic;
}

#hjerteboks {
    max-width: 85%;
    justify-content: space-around;
    flex-flow: row nowrap;
}

#hjerteboks > img {
    margin: 0 4%;
}

.pheart {
    max-width: calc(100% / 6);
}

#form {
    padding: 4%;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    font-size: 150%;
    width: 92%;
    height: 92%;
}

label {
    font-size: 130%;
}

input {
    width: 100%;
    height: 90%;
    font-size: 110%;
}

#input2 {
    margin-top: 50px;
}

::placeholder {
    padding-left: 20px;
  }

#buttons {
    justify-content: space-around;
    flex: 2 1 auto;
}

#startHer {
    top: 38%;
    left: 3%;
}

#pil {
    top: 51%;
    left: 13%;
}