#side1 {
    display: flex;
}

#side2 {
    display: none;
    width: inherit;
    position: relative;
}

#side1 > h1, #side1 > img {
    margin: 60px;
}

h1 {
    font-size: 500%;
    margin: 0;
}

#hjerte {
    display: none;
}

#side2 > .tower {
    margin: 3%;
    align-items: flex-start;
}

#side2 > .tower > .box {
    margin: 0;
}

#bheart {
    display: block;
    animation: beat 1s infinite;
}

#match {
    color: black;
    font-size: larger;
    font-weight: initial;
    flex: 1 1 auto;
    /* height: 100%; */
}

#Upper > img {
    min-height: 230px;
}

#Upper, #Lower {
    min-height: 50%;
    flex-wrap: nowrap;
    flex-grow: 1;
}

#Lower {
    width: 94%;
    justify-content: flex-start;
    align-items: stretch;
}
#Lower > p {
    margin: 3% 0 0 0;
}

#match > div > img {
    margin: 2%;
    max-width: 42%;
    border: 4px solid #ffbd59;
}

#lan {
    margin: auto 0;
}

#profiltekst{
    padding-right: 10%;
}

#navnAlder {
    font-size: 120%;
}

#navnAlder > p {
    font-style: oblique;
}

/* CHAT */ 

#chatview {
    width: calc(100% - 25px);
    max-width: calc(var(--maxWidth) -  25px); /* CSS-Validator sier dette er feil. Det er ikke det? */
    height: 425px;
    border: solid 2px #004aad;
    color: black;
    font-size: xx-large;
    /* Scrolling */
    overscroll-behavior: contain; /* CSS-Validator sier at denne attributen ikke finnes, men det gjør den */
    overflow: auto;
    padding: 0 0 0 25px;
}

@media only screen and (max-width: 1024px) {
    #chatview {
        width: 100%;
        padding: 0;
    }
}

#chatview ~ div {
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: inherit;
}

.userChatID
{
    color: orange;
}

.botChatID
{
    color: #ff66c4;
}

.botChatID, .userChatID
{
    font-weight: bolder;
}

.chatMessage
{
    color: black;
}

.userChatID, .chatMessage, .botChatID
{
    display: inline;
    font-size: larger;
}

#chatboble {
    width: 75px;
    height: 75px;
}

#chatbar {
    height: 50px;
    width: 400px;
    font-size: larger;
}

textarea {
    font-size: larger;
}

/* */

#wrapper {
    justify-content: flex-start;
}

#leftArrow, #rightArrow {
  cursor: pointer;
}

#leftArrow {
    transform: scaleX(-1);
}

@keyframes beat {
  0%    { transform: scale(1);      }
  25%   { transform: scale(1.3);    }
  35%   { transform: scale(1.15);   }
  45%    { transform: scale(1.3);    }
  75%   { transform: scale(1);      }
  100%  { transform: scale(1);      }
}
