h1 {
    margin-top: 2%;
}

ol {
    font-family: 'cooper hewitt heavy';
    font-size: 200%;
    line-height: 200%;
    list-style-position: inside;
    text-align: center;
    margin-top: 0;
    /* for å få tallet stylet separat */
    counter-reset: counter;
    list-style: none;
}

/* for å få tallet stylet separat */
ol li {
    counter-increment: counter;
}

ol li::before {
    content: counter(counter) ". ";
    color: #ffd943;
    font-weight: bold;
}
/* -- */

a:link, a:visited {
    text-decoration: underline;
}

.flex {
    display: inline-flex;
    align-items: center;
}

.flex img {
    max-height: 89px;
    max-width: 100px;
    margin-left: 10px;
}

#tipstriks {
    position: absolute;
    top: 84px;
    left: -123px;
}

#dhsd {
    position: absolute;
    bottom: 67px;
    left: 0px;
}

#pil {
    position: absolute;
    bottom: 33px;
    left: 192px;
}

#content {
    position: relative;
}

@media only screen and (max-width: 1024px) {
    #content > div > img {
        display: none;
    }
}