html, body {
  color: white;
}

#styret {
  font-size: 50px;
}

#styretCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
}

.card {
  width: 15vw;
  height: 15vw;
  background-color: lightgray;
  display: inline-block;
  margin: 10px;
  position: relative;
  background-size: cover;
}

.card:nth-child(1) {
  background-image: url(../img/Indok-styret/markus.jpg);
}

.card:nth-child(2) {
  background-image: url(../img/Indok-styret/sarah.jpg);
}

.card:nth-child(3) {
  background-image: url(../img/Indok-styret/andrine.jpg);
}

.card:nth-child(4) {
  background-image: url(../img/Indok-styret/maren.jpg);
}

.cardcontent {
  padding: 1vw;
}

.cardContainer {
  position: absolute;
  bottom: 0;
  background-color: inherit;
  opacity: 0.9;
  width: 100%;
  height: 5vh;
  border-top: solid 2px black;
  border-radius: 2px;
  color: black;
}
