html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2867bb;
  font-family: 'open sans light';
  color: white;
  font-size: larger;
}

h1, h2, h3 {
  font-family: "cooper hewitt heavy";
  color: white;
  text-shadow: -4px -1px #7da2d5;
}

#hjerte {
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
  --lengde: max(3vw, 5vh);
  width: var(--lengde);
  height: var(--lengde);
}

#lan {
  position: fixed;
  display: block;
  z-index: 987314897234987892342349;
  margin: 0 auto 15vh;
  width: min(20vh, 12vw);
  height: min(20vh, 12vw);
}

#hjerte:hover, #bheart:hover {
  cursor: pointer;
}

#profil {
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  --lengde: max(3vw, 5vh);
  width: var(--lengde);
  height: var(--lengde);
}

.box {
  height: 100vh;
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tower {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.medium {
  position: absoulute;
  border: solid 12px #004aad;
  background-color: white;
  display: block;
  height: 60vh;
  width: 36%;
  min-height: 50px;
  min-width: 50px;
  align-self: auto;
  margin: 3%; 
  padding: 0;
}

.large {
  position: absolute;
  border: solid 12px #004aad;
  background-color: white;
  display: block;
  height: 60%;
  width: 72%;
}

.title {
  position: relative;
  top: -35%;
  font-family: 'cooper hewitt heavy';
  font-size: 300%;
  color: #ff66c4;
  text-shadow: 2px 2px #7da2d5;
}

label {
  color: black;

/* INFORMASJONSSIDER */ 

#content {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 5vh;
}

#content h1 {
  font-size: 100px;
  text-align: center;
  margin-bottom: 3vh;
}

#content h2 {
  margin-bottom: 0;
}

#content p {
  margin-top: 0;
}

#secondHeading, #secondHeadingText {
  text-align: right;
}

/* styler navigasjon til topp */
#scrollTop {
  position: fixed;
  bottom: 2px;
  right: 10px;

  color: inherit;
  font-weight: bold;
}