p {
    color: black;
    margin: 0 8px;
}

img {
    margin: 0 8px;
}

.chain {
    flex-flow: row nowrap
}

#side {
    justify-content: flex-start;
}

#innhold {
    width: inherit;
    flex-flow: row wrap;
}