h2 {
    margin: 20px 8px 0px;
    color: #ffeda3;
    text-shadow: 5px -2px #ffd631;
}

p {
    color: black;
    margin: 0 20px;
    text-align: center;
}

p ~ img, div ~ img {
    margin: 10px 0 20px;
    border: 4px solid #ffbd59;
}

div > img {
    max-width: calc(var(--widthNormal) / 2);
}

.chain {
    flex-flow: row nowrap;
}

/* Overwriter box attributene her og */
.box {
  height: 50vh;
}

#content {
    justify-content: flex-start;
    align-items: stretch;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
}

#innhold {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    flex-flow: row wrap;
}

#dhsd {
    top: 0;
    left: -140px;
    transform: rotate(-0.2617993878rad); /* Tallet er sånn ca. pi/6 */
}

#innhold > div {
    position: relative;
}
