p {
    color: black;
    margin: 0 8px;
}

p ~ img, div ~ img {
    margin: 0 8px;
    border: 4px solid #ffbd59;
}

.chain {
    flex-flow: row nowrap
}

#side {
    justify-content: flex-start;
    align-items: stretch;
}

#innhold {
    width: inherit;
    flex-flow: row wrap;
}

#Skjønt {
    position: absolute;
    top: 0;
    left: -160px;
    transform: rotate(-0.2617993878rad); /* Tallet er sånn ca. pi/6 */
}

#innhold > div {
    position: relative;
}