@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
}

#heading h1, p{
  margin: 0;
  text-align: center;
}

.box {
  -webkit-box-shadow: 0px 7px 16px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 16px 8px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 16px 8px rgba(0,0,0,0.75);
  margin-top: 7vh;

  background-color: rgba(52, 152, 219, 0.7);
}

.box:last-child {
  margin-bottom: 10vh;
}

.container {
  padding-top: 3%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 7%;
}

.container p {
  text-align: left;
}

.container h1 {
  margin-bottom: 0;
}

img {
  margin-top: 10px;
  width: 100%;
}

p {
  margin: 10px 0;
}

table, td {
  border: solid 1px black;
}

.listHead {
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
}

@font-face {
  font-family: 'futuristic armour';
    src: url('futuristic_armour-webfont.woff2') format('woff2'),
         url('futuristic_armour-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'horizon';
  src: url('horizon-webfont.woff2') format('woff2'),
       url('horizon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cooper hewitt heavy';
  src: url('cooperhewitt-heavy_allfont.net-webfont.woff2') format('woff2'),
       url('cooperhewitt-heavy_allfont.net-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open sans light';
  src: url('OpenSans-Light-webfont.eot');
  src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Light-webfont.woff2') format('woff2'),
       url('OpenSans-Light-webfont.woff') format('woff'),
       url('OpenSans-Light-webfont.ttf') format('truetype'),
       url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}